
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="warning-text">@ViewBag.Messenge</div>
    <div class="row">
        @if (ViewBag.ListBook != null)
        {
            foreach (var item in ViewBag.ListBook)
            {
                <div class="column">
                    <div class="card">
                        <a href="~/Home/Detail/@item.id">
                            <img src="~/UploadedFiles/@item.HinhSach" alt="@item.TenSach" class="img">
                            </a>
                            <p>@item.TenSach</p>
                            <h3>@item.GiaSach vnd</h3>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="column">Không tìm được sách theo nhu cầu!</div>
        }
    </div>

 </body>

